body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Product List styles */
h2 {
  margin-top: 0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

li span {
  margin-right: 10px;
}

input[type="number"] {
  width: 50px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 20px;
}

button:hover {
  background-color: #0056b3;
}

/* Cart styles */
h3 {
  margin-top: 20px;
  margin-bottom: 0;
}

.quntity{
  margin-right: 30px;
}
